{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Atualizar Tarefa{% else %}Criar Tarefa{% endif %}</title>
    {% bootstrap_css %}
    <style>
        .card {
            border-radius: 10px;
            padding: 20px;
            margin: 0 auto;
            max-width: 700px;
            margin-top: 50px;
        }

        .btn-update {
            float: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">{% if form.instance.pk %}Atualizar Tarefa{% else %}Criar Tarefa{% endif %}</h2>
        <div class="card">
            <form method="POST" class="bootstrap-form">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn btn-success btn-update">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% bootstrap_javascript %}
</body>
</html>
