{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    {% bootstrap_css %}
</head>
<body>
    {% for task in tasks %}
        <h2>{{ task.titulo }}</h2>
        <p>{{ task.descricao }}</p>
        <p>Responsável: {{ task.responsavel }}</p>
        <p>Criada Em: {{ task.criado_em }}</p>
        <hr>
    {% empty %}
        <p>Nenhuma Tarefa Cadastrada.</p>
    {% endfor %}

    <a href="{% url 'tasks:task_create' %}" class="btn btn-primary">Criar Tarefa</a>

    {% bootstrap_javascript %}
</body>
</html>
